.login .hero, .register .hero{
    background-image: url(../../assets/others/authentication.png);
}



@media  (max-width: 767.99px) {

    .login .hero, .register .hero{
        color: white;
        background: transparent;
        background-image: url('../../assets/others/authentication2.png');
        background-repeat: no-repeat;
        background-size:100%;
        background-position: center;
    }
    .login .hero .card, .register .hero .card{
        opacity: 0.95;
    }
    .login .hero .card-body, .register .hero .card-body {
        padding: 0;
    }
}

@media (max-width: 240px) {
    .login .hero .card-body, .register .hero .card-body {
        padding: 0;
        width: 100%;
        font-size: smaller;
    }
    .login .hero .card-body input, .register .hero .card-body input{
        width: 100%;
        

    }
    
}